img {
  width: 100%;
}
body#body-habitante15 {
  background: url("../img/background-habitante.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.main-container {
  max-width: 1220px;
  position: relative;
  margin-top: 20px;
}
.main-container .container-general {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-container .container-general .line {
  margin: 20px 0;
}
.main-container .container-general #content {
  width: 100%;
}
.container-general {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
header#header-habitante15 nav {
  margin: 0 auto;
  max-width: 1220px;
  background: none;
  color: white;
  border: none;
  z-index: 5;
}
header#header-habitante15 nav ul {
  padding-top: 55px;
}
header#header-habitante15 nav ul li {
  font-size: 23px;
}
header#header-habitante15 nav ul li a {
  color: white;
}
header#header-habitante15 nav ul li a:hover,
header#header-habitante15 nav ul li a :active {
  text-decoration: underline;
}
header#header-habitante15 nav .navbar-brand {
  display: block;
  padding: 20px;
}
header#header-habitante15 nav .navbar-brand img {
  width: 70%;
}
header#header-habitante15 .botones-nav {
  max-width: 40%;
  float: right;
}
header#header-habitante15 .container-fluid {
  padding: 0;
  margin: 0;
}
footer#footer-habitante15 {
  background: url(../img/footer_background.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 450px;
}
footer#footer-habitante15 #logos-patrocinadores {
  max-width: 1220px;
}
footer#footer-habitante15 #logos-patrocinadores h3 {
  font-size: 28px;
  text-align: center;
  padding: 80px 0 50px 0;
  margin: 0;
}
footer#footer-habitante15 #logos-patrocinadores .logo_corona {
  width: 30%;
  padding-bottom: 60px;
}
footer#footer-habitante15 #logos-patrocinadores .slogan {
  position: absolute;
  right: 10px;
  bottom: 10px;
  max-width: 200px;
}
@media (max-width: 992px) {
  footer#footer-habitante15 #logos-patrocinadores .logo_corona {
    width: 60% !important;
  }
}
#slider-habitante {
  margin-top: 40px;
}
#slider-habitante .swiper-pagination {
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
  bottom: 20px;
}
#slider-habitante .swiper-pagination-bullet {
  background: none;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border: 5px solid white;
}
#slider-habitante #content-slider {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
#slider-habitante #content-slider ul {
  padding: 0;
  margin: 0;
}
#slider-habitante #content-slider ul li {
  list-style: none;
  height: 650px;
}
#slider-habitante #content-slider ul li #first-section-slider {
  width: 80%;
}
#slider-habitante #content-slider ul li #first-section-slider .img-slogan {
  max-width: 500px;
  margin: 0 auto 0 auto;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes {
  display: block;
  width: 100%;
  margin: 20px 0 0 0;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 {
  padding: 0;
  cursor: pointer;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 a {
  text-decoration: none;
  color: white;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .img-grafica-habitante {
  position: relative;
  width: 80%;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .img-grafica-habitante .img-habitante {
  position: relative;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .img-grafica-habitante .img-habitante .hover-habitante {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .img-grafica-habitante .img-habitante .hover-habitante .slogan {
  bottom: 0;
  font-size: 38px;
  right: 10px;
  position: absolute;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .info-habitante {
  width: 80%;
  text-align: right;
  text-transform: uppercase;
  position: relative;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .info-habitante .porcentaje {
  display: inline-block;
  width: 28%;
  text-align: left;
  font-size: 34px;
  vertical-align: top;
  padding-top: 2%;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .info-habitante .data {
  width: 70%;
  display: inline-block;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .info-habitante .data .name {
  font-size: 40px;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4 .info-habitante .data .apellidos {
  font-size: 20px;
  line-height: 0;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4:hover .img-grafica-habitante {
  width: 90%;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4:hover .img-grafica-habitante .img-habitante .hover-habitante {
  display: block;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4:hover .info-habitante {
  width: 90%;
  background-color: #303030;
  padding: 0 10px 10px 10px ;
}
#slider-habitante #content-slider ul li #first-section-slider .img-participantes .col-md-4:hover .info-habitante .porcentaje {
  color: #00acad;
}
#slider-habitante #content-slider ul li #first-section-slider .slogan2 {
  bottom: 60px;
  position: absolute;
  left: 43%;
  font-size: 30px;
}
#slider-habitante #content-slider ul li .votacion-del-dia {
  margin: 0 auto;
}
#slider-habitante #content-slider ul li .votacion-del-dia .dinamic-title {
  text-align: center;
}
#slider-habitante #content-slider ul li .votacion-del-dia .dinamic-title h3 {
  font-size: 50px;
  font-weight: 600;
}
#slider-habitante #content-slider ul li .votacion-del-dia .dinamic-title p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 100;
  width: 60%;
  margin: 0 auto;
  text-transform: none;
}
#slider-habitante #content-slider ul li .votacion-del-dia .opciones {
  width: 70%;
  margin: 0 auto;
  padding: 6% 0 0 0;
}
#slider-habitante #content-slider ul li .video-streaming {
  width: 70%;
  text-align: center;
}
#slider-habitante #content-slider ul li .video-streaming .dinamic-title {
  text-align: center;
}
#slider-habitante #content-slider ul li .video-streaming .dinamic-title h3 {
  font-size: 50px;
  font-weight: 600;
}
#slider-habitante #content-slider ul li .video-streaming .dinamic-title p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 100;
  width: 60%;
  margin: 0 auto;
  text-transform: none;
}
#slider-habitante #content-slider ul li .video-streaming .img-video-streaming {
  background: url("../img/img-video-streaming.jpg") no-repeat center center;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  margin-top: 40px;
}
#slider-habitante #content-slider ul li .video-streaming .img-video-streaming .icon {
  font-size: 70px;
  color: #00acad;
  padding-top: 22%;
  display: block;
}
#slider-habitante #content-slider ul li .video-streaming .img-video-streaming .hover-preview-streaming {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 172, 173, 0.7);
  width: 100%;
  height: 100%;
  display: none;
}
#slider-habitante #content-slider ul li .video-streaming .img-video-streaming .hover-preview-streaming .btn-ver-capsula {
  text-align: center;
  padding-top: 24%;
  font-size: 50px;
  display: block;
  text-decoration: none;
  color: white;
}
#slider-habitante #content-slider ul li .video-streaming .img-video-streaming:hover .hover-preview-streaming {
  display: block;
}
#slider-habitante #content-slider ul li .video-streaming .img-video-streaming:hover .icon {
  display: none;
}
#slider-habitante #content-slider ul li .otra-dinamica {
  width: 70%;
  margin: 0 auto;
  padding-top: 10%;
}
#slider-habitante #botones-slider ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#slider-habitante #botones-slider ul li {
  display: inline-block;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  border: white solid;
}
#slider-habitante #botones-slider ul li:hover {
  background-color: white;
  cursor: pointer;
}
@media (max-width: 1160px) {
  #first-section-slider {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 935px) {
  #first-section-slider .info-habitante {
    width: 90%;
    text-align: center !important;
  }
  #first-section-slider .info-habitante .porcentaje {
    width: 100% !important;
    display: block !important;
    font-size: 20px;
    text-align: center !important;
  }
  #first-section-slider .info-habitante .data {
    width: 100% !important;
  }
  #first-section-slider .slogan2 {
    bottom: 42px !important;
    font-size: 25px !important;
  }
  a.btn-todas-capsulas {
    width: 60% !important;
  }
  .video-streaming {
    width: 90% !important;
  }
  .video-streaming .img-video-streaming {
    height: 400px !important;
  }
}
@media (max-width: 767px) {
  #first-section-slider {
    margin-top: 40px;
  }
  #first-section-slider .img-participantes {
    margin: 20px 0 0 0 !important;
  }
  #first-section-slider .img-participantes .info-habitante {
    width: 90%;
    text-align: center !important;
  }
  #first-section-slider .img-participantes .info-habitante .porcentaje {
    width: 100% !important;
    display: block !important;
    font-size: 20px;
    text-align: center !important;
  }
  #first-section-slider .img-participantes .info-habitante .data {
    width: 100% !important;
  }
  #first-section-slider .img-participantes .info-habitante .data .name {
    font-size: 20px !important;
  }
  #first-section-slider .slogan2 {
    left: 30% !important;
  }
  .votacion-del-dia {
    width: 100% !important;
  }
  .video-streaming {
    width: 100% !important;
    margin-top: 40px !important;
  }
  .video-streaming .img-video-streaming {
    height: 300px !important;
  }
}
@media (max-width: 420px) {
  #first-section-slider {
    margin-top: 60px !important;
  }
  #first-section-slider .img-participantes {
    margin: 80px 0 0 0 !important;
  }
  #first-section-slider .slogan2 {
    left: 30% !important;
  }
  .votacion-del-dia {
    width: 100% !important;
    margin-top: 40px !important;
  }
  .votacion-del-dia .dinamic-title {
    width: 100% !important;
  }
  .votacion-del-dia .dinamic-title p {
    width: 90% !important;
  }
  .votacion-del-dia .opciones {
    width: 100% !important;
  }
  .otra-dinamica {
    margin-top: 60px !important;
  }
}
.capsulas {
  width: 100%;
  background-color: #303030;
  padding: 120px 0;
  text-align: center;
}
.capsulas h2 {
  font-size: 60px;
}
.capsulas p {
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.capsulas .section-dates .row {
  border-bottom: 1px solid black;
  padding: 40px 0;
}
.capsulas .section-dates .row:last-child {
  border: none;
}
.capsulas h3 {
  text-align: left;
  font-size: 30px;
  padding-bottom: 25px;
}
.capsulas ul {
  margin: 20px 0 40px -20px;
  padding: 0;
  display: block;
}
.capsulas ul li {
  width: 24.7%;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 20px;
  margin-bottom: 20px;
}
.capsulas ul li .content-preview-capsula {
  position: relative;
  padding: 0;
  margin: 0;
}
.capsulas ul li .content-preview-capsula .preview-capsula {
  position: relative;
  background: url("../img/img_capsula.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 170px;
}
.capsulas ul li .content-preview-capsula .preview-capsula .icon {
  font-size: 50px;
  color: #00acad;
  padding-top: 18%;
  display: block;
}
.capsulas ul li .content-preview-capsula .hover-preview-capsula {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 172, 173, 0.7);
  width: 100%;
  height: 100%;
  display: none;
}
.capsulas ul li .content-preview-capsula .hover-preview-capsula .btn-ver-capsula {
  text-align: center;
  padding-top: 27%;
  display: block;
  text-decoration: none;
  color: white;
}
.capsulas ul li .content-preview-capsula .description-capsula-home {
  padding: 10px 0;
  text-align: left;
  line-height: 1.2;
  text-transform: none;
  font-size: 10px;
}
.capsulas ul li .content-preview-capsula:hover .preview-capsula .icon {
  display: none;
}
.capsulas ul li .content-preview-capsula:hover .hover-preview-capsula {
  display: block;
}
.capsulas ul li .content-preview-capsula:hover .description-capsula-home {
  background-color: #00acad;
  padding-left: 10px;
}
.capsulas a.btn-todas-capsulas {
  text-decoration: none;
  width: 33%;
  font-size: 30px;
  padding: 20px 0;
  color: white;
  display: block;
  border: 5px solid white;
  margin-top: 60px;
}
.capsulas a.btn-todas-capsulas:hover {
  background-color: white;
  color: #303030;
}
@media (max-width: 1190px) {
  .capsulas ul li {
    width: 23%;
  }
}
@media (max-width: 768px) {
  .capsulas ul li {
    width: 49%;
  }
  .capsulas .btn-todas-capsulas {
    width: 60% !important;
  }
}
#habitantes-page {
  margin-top: 60px;
  width: 100%;
  padding-bottom: 150px;
  background: rgba(48, 48, 48, 0);
  background: -moz-linear-gradient(top, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0) 42%, #303030 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 48, 48, 0)), color-stop(42%, rgba(48, 48, 48, 0)), color-stop(100%, #303030));
  background: -webkit-linear-gradient(top, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0) 42%, #303030 100%);
  background: -o-linear-gradient(top, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0) 42%, #303030 100%);
  background: -ms-linear-gradient(top, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0) 42%, #303030 100%);
  background: linear-gradient(to bottom, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0) 42%, #303030 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#303030', GradientType=0);
}
#habitantes-page .container-general {
  width: 70%;
}
#habitantes-page .container-general .row {
  padding: 0;
  margin: 0;
}
#habitantes-page .container-general .row .habitante-profile {
  position: relative;
  margin-top: 30px;
}
#habitantes-page .container-general .row .habitante-profile .btn-video {
  background: url("../img/img-habitante.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 360px;
  cursor: pointer;
  position: relative;
}
#habitantes-page .container-general .row .habitante-profile .btn-video .hover-btn {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 172, 173, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: 40%;
  font-size: 40px;
  display: none;
  cursor: pointer;
}
#habitantes-page .container-general .row .habitante-profile .btn-video:hover .hover-btn {
  display: block;
}
#habitantes-page .container-general .row .habitante-profile .btn-habitante2 {
  background: url("../img/img-habitante02.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 360px;
  position: relative;
}
#habitantes-page .container-general .row .habitante-profile .btn-habitante3 {
  background: url("../img/img-habitante03.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 360px;
  position: relative;
}
#habitantes-page .container-general .row .habitante-profile .name {
  font-size: 40px;
  margin: 0;
  line-height: 1.1;
  padding-top: 30px;
}
#habitantes-page .container-general .row .habitante-profile .apellidos {
  font-size: 22px;
  margin: 0;
  padding-bottom: 20px;
}
#habitantes-page .container-general .row .habitante-profile .mas-info {
  font-size: 17px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
}
#habitantes-page .container-general .row .habitante-profile .description {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 100;
  padding-top: 30px;
  text-transform: none;
}
#habitantes-page .container-general .row .habitante-profile a.btn-apoyo {
  display: block;
  padding: 10px 0;
  border: 5px solid white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-top: 40px;
}
#habitantes-page .container-general .row .habitante-profile a.btn-apoyo:hover {
  background: white;
  color: #00acad;
}
#modal-video {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
}
#modal-video .video {
  padding-top: 8%;
  width: 60%;
  margin: 0 auto;
}
#modal-video .video a.btn-close {
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-align: right;
  display: block;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  #habitantes-page .container-general {
    width: 90%;
  }
}
@media (max-width: 767px) {
  #habitantes-page .container-general {
    width: 80%;
  }
  #habitantes-page .container-general .row .habitante-profile {
    margin-top: 90px;
  }
}
.chart {
  position: absolute;
  max-width: 100px;
  width: 100%;
  height: 100px;
  top: -30px;
  right: 15px;
  z-index: 5;
}
.pieTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.95);
  color: #444;
  font-size: 19px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-transform: all .3s;
  -moz-transform: all .3s;
  -ms-transform: all .3s;
  -o-transform: all .3s;
  transform: all .3s;
  pointer-events: none;
  z-index: 10;
}
.pieTip:after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.95);
  line-height: 0;
}
.chart path {
  cursor: pointer;
}
#video-main .container-general {
  width: 90%;
  max-width: 1050px;
  margin: 5% auto;
}
#video-main .container-general ul.share-capsula {
  margin: 0 0 20px 0;
}
#video-main .container-general ul.share-capsula li {
  display: inline-block;
  text-align: center;
}
#video-main .container-general ul.share-capsula li .boton-share {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 15px;
}
#video-main .container-general ul.share-capsula li .boton-share:hover {
  background: #00acad;
}
#video-main .container-general ul.share-capsula li .boton-facebook {
  padding: 10px 20px !important;
}
#video-main .container-general ul.share-capsula .comparte {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: 100;
  font-size: 16px;
  text-transform: none;
}
#video-main .container-general iframe {
  padding: 0;
  margin: 0;
}
#video-main .container-general .info {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: -5px;
  display: block;
}
#video-main .container-general .info .date {
  display: inline-block;
  width: 10%;
  font-size: 28px;
}
#video-main .container-general .info .description {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 100;
  text-transform: none;
  display: inline-block;
  width: 89%;
  vertical-align: top;
  padding-left: 10px;
}
@media (max-width: 992px) {
  #video-main .container-general {
    width: 80%;
    margin: 90px auto 40px auto;
  }
  #video-main iframe {
    height: 390px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #video-main .container-general {
    width: 90%;
    margin: 90px auto 40px auto;
  }
  #video-main iframe {
    height: 340px;
  }
}
@media (max-width: 767px) {
  #video-main .container-general {
    width: 100%;
    margin: 140px auto 40px auto;
  }
  #video-main iframe {
    height: 320px;
  }
}
#que-es {
  width: 100%;
}
#que-es .container-general {
  width: 50%;
  margin-top: 2%;
}
#txt-que-es {
  width: 100%;
  background-color: #303030;
  padding: 40px 0;
}
#txt-que-es .container-general {
  width: 60%;
  text-align: center;
}
#txt-que-es .textos {
  width: 50%;
  padding: 60px 0;
}
#txt-que-es .textos p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-transform: none;
  text-align: left;
  letter-spacing: 1.2px;
}
#txt-que-es .textos .slogan {
  font-size: 25px;
  margin: 50px 0;
}
@media (max-width: 992px) {
  #que-es .container-general {
    width: 80%;
    margin-top: 4%;
  }
  #txt-que-es .textos {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #que-es .container-general {
    width: 90%;
    margin-top: 7%;
  }
  #txt-que-es .container-general {
    width: 70%;
  }
  #txt-que-es .textos {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  #que-es .container-general {
    width: 100%;
    margin-top: 25%;
  }
  #txt-que-es .container-general {
    width: 90%;
  }
  #txt-que-es .textos {
    width: 100% !important;
  }
}
