#que-es{
  width: 100%;
  .container-general{
    width: 50%;
    margin-top: 2%;
  }
}

#txt-que-es{
  width: 100%;
  background-color: @gray-dark-ha;
  padding: 40px 0;
  .container-general{
    width: 60%;
    text-align: center;
  }
  .textos{
    width: 50%;
    padding: 60px 0;
    p{
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 100;
      text-transform: none;
      text-align: left;
      letter-spacing: 1.2px;
    }
    .slogan{
      font-size: 25px;
      margin: 50px 0;
    }
  }
}