#que-es{
  width: 100%;
  .container-general{
    width: 50%;
    margin-top: 2%;
  }
}

#txt-que-es{
  width: 100%;
  background-color: @gray-dark-ha;
  padding: 40px 0;
  .container-general{
    width: 60%;
    text-align: center;
  }
  .textos{
    width: 40%;
    padding: 60px 0;
    p{
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 100;
      text-transform: none;
      text-align: left;
    }
    .slogan{
      font-size: 40px;
      text-align: left;
      margin: 50px 0 0 0;
      span{
        font-size: 55px;
        background-color: black;
        padding: 5px 10px;
        line-height: 100px;
      }
    }
  }
}