#slider-habitante {
  margin-top: 40px;
  .swiper-pagination {
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    bottom: 20px;
  }
  .swiper-pagination-bullet{
    background: none;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border: 5px solid white;

  }
  #content-slider{
    width: 100%;
    margin: 0 auto;
    height: auto;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        height: 650px;
        #first-section-slider{
          width: 90%;
          .img-slogan{
            max-width: 530px;
            margin: 0 auto;
          }
          .img-participantes{
            display: block;
            width: 100%;
            margin-top: 80px;
            .col-md-4{
              padding: 0;
              cursor: pointer;
              .img-grafica-habitante{
                position: relative;
                width: 80%;
                .img-grafica{
                  position: absolute;
                  display: block;
                  top: -40px;
                  right: 10px;
                  width: 35%;
                  z-index: 2;
                }
                .img-habitante{
                  position: relative;
                  .hover-habitante{
                    background: rgba(0, 0, 0, 0.2);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                    .slogan{
                      bottom: 0;
                      font-size: 38px;
                      right: 10px;
                      position: absolute;
                    }
                  }
                }
              }
              .info-habitante{
                width: 80%;
                text-align: left;
                text-transform: uppercase;
                p{
                  margin: 0;
                  padding: 0;
                }
                .name{
                  font-size: 40px;
                }
                .apellidos{
                  font-size: 20px;
                  line-height: 0;
                }
              }
              &:hover{
                .img-grafica-habitante{
                  width: 90%;
                  .img-habitante{
                    .hover-habitante{
                      display: block;
                    }
                  }
                }
                .info-habitante{
                  width: 90%;
                  background-color: @gray-dark-ha;
                  padding: 0 0 20px 10px;
                }
              }
            }
          }
        }
        .profile-slider{
          width: 90%;
          .row{
            margin: 0;
            padding: 0;
            .info-profile{
              padding-top: 14%;
              text-align: right;
              .name{
                font-size: 70px;
                line-height: 1;
              }
              .apellidos{
                font-size: 25px;
                line-height: .4;
              }
              .mas-info{
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 100;
                letter-spacing: inherit;
              }
              img{
                width: 35%;
                padding: 40px 0 10px 0;
              }
              .btn_apoyalo{
                display: block;
                font-size: 40px;
                color: white;
                text-decoration: none;
                position: absolute;
                top: 480px;
                right: 15px;
              }
            }
            .img-profile{
              position: relative;
              padding: 0;
              cursor: pointer;
              .btn-conocelo{
                position: absolute;
                padding: 10px 0;
                background-color: @gray-dark-ha;
                font-size: 40px;
                width: 100%;
                bottom: 0;
                text-align: center;
                display: none;
              }
              &:hover{
                .btn-conocelo{
                  display: block;
                }
              }
            }
          }
          .pieChart4, .pieChart5 , .pieChart6{
            position: absolute;
            max-width: 120px;
            width: 100%;
            height: 110px;
            top: 335px;
            right: 15px;
            z-index: 5;
          }
        }
      }
    }
  }
  #botones-slider{
    ul{
      margin: 0 auto;
      padding: 0;
      text-align: center;
      li{
        display: inline-block;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        border: white solid;
        &:hover{
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: 992px){
  #first-section-slider {
    .img-participantes {
      .info-habitante {
        .name {
          font-size: 30px;
        }
        .apellidos {
          font-size: 13px;
          line-height: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #first-section-slider{
    width: 100% !important;
    .img-slogan{
      margin: 30px auto !important;
    }
    .img-participantes{
      .info-habitante{
        .name{
          font-size: 20px;
        }
        .apellidos{
          font-size: 12px !important;
        }
      }
    }
  }

  .profile-slider {
    .info-profile{
      .name{
        font-size: 49px !important;
      }
      .apellidos{
        font-size: 18px !important;
      }
      .btn_apoyalo{
        top: 395px !important;
      }
    }
    .img-profile{
      .btn-conocelo{
        width: 135% !important;
      }
      img{
        width: 135%
      }
    }
    .pieChart4, .pieChart5, .pieChart6{
      top: 255px !important;
    }
  }
  a.btn-todas-capsulas{
    width: 60% !important;
  }
}

@media (max-width: 767px) {
  #first-section-slider{
    width: 100% !important;
    .img-slogan{
      margin: 80px auto !important;
    }
    .img-participantes{
      .info-habitante{
        .name{
          font-size: 20px !important;
          text-align: center !important;
        }
      }
    }
  }
  .profile-slider{
    .img-profile{
      height: 350px;
      overflow: hidden;
    }
  }
}


