#slider-habitante {
  margin-top: 40px;
  .swiper-pagination {
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    bottom: 20px;
  }
  .swiper-pagination-bullet{
    background: none;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border: 5px solid white;

  }
  #content-slider{
    width: 100%;
    margin: 0 auto;
    height: auto;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        height: 650px;
        #first-section-slider{
          width: 80%;
          .img-slogan{
            max-width: 500px;
            margin: 0 auto 0 auto;
          }
          .img-participantes{
            display: block;
            width: 100%;
            margin: 20px 0 0 0;
            .col-md-4{
              padding: 0;
              cursor: pointer;
              a{
                text-decoration: none;
                color: white;
              }
              .img-grafica-habitante{
                position: relative;
                width: 80%;
                .img-habitante{
                  position: relative;
                  .hover-habitante{
                    background: rgba(0, 0, 0, 0.2);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                    .slogan{
                      bottom: 0;
                      font-size: 38px;
                      right: 10px;
                      position: absolute;
                    }
                  }
                }
              }
              .info-habitante{
                width: 80%;
                text-align: right;
                text-transform: uppercase;
                position: relative;
                .porcentaje{
                  display: inline-block;
                  width: 28%;
                  text-align: left;
                  font-size: 34px;
                  vertical-align: top;
                  padding-top: 2%;
                }
                .data{
                  width: 70%;
                  display: inline-block;
                  .name{
                    font-size: 40px;
                  }
                  .apellidos{
                    font-size: 20px;
                    line-height: 0;
                  }
                }
              }
              &:hover{
                .img-grafica-habitante{
                  width: 90%;
                  .img-habitante{
                    .hover-habitante{
                      display: block;
                    }
                  }
                }
                .info-habitante{
                  width: 90%;
                  background-color: @gray-dark-ha;
                  padding: 0 10px 10px 10px ;
                  .porcentaje{
                    color: @blue-habitante;
                  }
                }
              }
            }
          }
          .slogan2{
            bottom: 60px;
            position: absolute;
            left: 43%;
            font-size: 30px;
          }
        }
        .votacion-del-dia{
          margin: 0 auto;
          .dinamic-title{
            text-align: center;
            h3{
              font-size: 50px;
              font-weight: 600;
            }
            p{
              font-family: "Open Sans", Helvetica, Arial, sans-serif;
              font-size: 17px;
              font-weight: 100;
              width: 60%;
              margin: 0 auto;
              text-transform: none;
            }
          }
          .opciones{
            width: 70%;
            margin: 0 auto;
            padding: 6% 0 0 0;
          }
        }
        .video-streaming{
          width: 70%;
          text-align: center;
          .dinamic-title{
            text-align: center;
            h3{
              font-size: 50px;
              font-weight: 600;
            }
            p{
              font-family: "Open Sans", Helvetica, Arial, sans-serif;
              font-size: 17px;
              font-weight: 100;
              width: 60%;
              margin: 0 auto;
              text-transform: none;
            }
          }
          .img-video-streaming{
            background: url("../img/img-video-streaming.jpg")no-repeat center center;
            position: relative;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 450px;
            margin-top: 40px;
            .icon{
              font-size: 70px;
              color: @blue-habitante;
              padding-top: 22%;
              display: block;
            }
            .hover-preview-streaming{
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(0, 172, 173, 0.7);
              width: 100%;
              height: 100%;
              display: none;
              .btn-ver-capsula{
                text-align: center;
                padding-top: 24%;
                font-size: 50px;
                display: block;
                text-decoration: none;
                color: white;
              }
            }
            &:hover{
              .hover-preview-streaming{
                display: block;
              }
              .icon{
                display: none;
              }
            }
          }
        }
        .otra-dinamica{
          width: 70%;
          margin: 0 auto;
          padding-top: 10%;
        }
      }
    }
  }
  #botones-slider{
    ul{
      margin: 0 auto;
      padding: 0;
      text-align: center;
      li{
        display: inline-block;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        border: white solid;
        &:hover{
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: 1160px){
  #first-section-slider {
    width: 100% !important;
  }
}



@media (min-width: 768px) and (max-width: 935px) {
  #first-section-slider{
    .info-habitante{
      width: 90%;
      text-align: center !important;
      .porcentaje{
        width: 100% !important;
        display: block !important;
        font-size: 20px;
        text-align: center !important;
      }
      .data{
        width: 100% !important;
      }
    }
    .slogan2{
      bottom: 42px !important;
      font-size: 25px !important;
    }
  }
  a.btn-todas-capsulas{
    width: 60% !important;
  }
  .video-streaming{
    width: 90% !important;
    .img-video-streaming{
      height: 400px !important;
    }
  }
}

@media (max-width: 767px) {
  #first-section-slider{
    margin-top: 40px;
    .img-participantes{
      margin:  20px 0 0 0 !important;
      .info-habitante{
        width: 90%;
        text-align: center !important;
        .porcentaje{
          width: 100% !important;
          display: block !important;
          font-size: 20px;
          text-align: center !important;
        }
        .data{
          width: 100% !important;
          .name{
            font-size: 20px !important;
          }
        }
      }
    }
    .slogan2{
      left: 30% !important;
    }
  }
  .votacion-del-dia{
    width: 100% !important;
  }
  .video-streaming{
    width: 100% !important;
    margin-top: 40px !important;
    .img-video-streaming{
      height: 300px !important;
    }
  }
}

@media (max-width: 420px){
  #first-section-slider{
    margin-top: 60px !important;
    .img-participantes{
      margin:  80px 0 0 0 !important;
    }
    .slogan2{
      left: 30% !important;
    }
  }
  .votacion-del-dia{
    width: 100% !important;
    margin-top: 40px !important;
    .dinamic-title{
      width: 100% !important;
      p{
        width: 90% !important;
      }
    }
    .opciones{
      width: 100% !important;
    }
  }
  .otra-dinamica{
    margin-top: 60px !important;
  }
}
