#video-main{
  .container-general{
    width: 90%;
    max-width: 1050px;
    margin: 5% auto;
    iframe{
      padding: 0;
      margin: 0;
    }
    .info{
      width: 100%;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      margin-top: -5px;
      display: block;
      .date{
        display: inline-block;
        width: 10%;
        font-size: 28px;
      }
      .description{
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 100;
        text-transform: none;
        display: inline-block;
        width: 89%;
        vertical-align: top;
        padding-left: 10px;
      }
    }
  }
}

@media (max-width: 992px){
  #video-main{
    .container-general{
      width: 80%;
      margin: 90px auto 40px auto;
    }
    iframe{
      height: 390px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px){
  #video-main{
    .container-general{
      width: 90%;
      margin: 90px auto 40px auto;
    }
    iframe{
      height: 340px;
    }
  }
}

@media (max-width: 767px) {
  #video-main{
    .container-general{
      width: 100%;
      margin: 140px auto 40px auto;
    }
    iframe{
      height: 320px;
    }
  }
}